@using ComputerShop.Models.Catalog
@model Gypsum

<div class="article">
    <h2 class="article-label">@Model.Label (Plant)</h2>
    <div>@Model.GetType().Name</div>
    <div class="price"><span class="item-lable">Цена:</span> @Model.Price руб.</div>
    <div class="balance"><span class="item-lable">Остаток:</span> @Model.Balance</div>
    @if (Model.ShelfLife != null)
    {
        <div class="shelf-life"><span class="item-lable">Годно до:</span> @Model.ShelfLife</div>
    }
    <div class="weight"><span class="item-lable">Вес:</span> @Model.Weight</div>
    <div class="nitrates"><span class="item-lable">Нитраты:</span> @Model.Nitrates</div>
    @if (Model.Variety != null)
    {
        <div class="variety"><span class="item-lable">Сорт:</span> @Model.Variety</div>
    }
    <div class="more-link-wrap">
        <a href="@Url.Action("article", "catalog", new { id = Model.Id })" class="more-link">Подробнее...</a>
    </div>
</div>
